version: "3.8"

services:
  mysql:
    image: mysql:8
    platform: linux/x86_64
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MYSQL_DATABASE: db
      MYSQL_ROOT_PASSWORD: toor
    networks:
      - fastify_mysql_network

networks:
  fastify_mysql_network:
    driver: bridge
